/* 
-------------------------------------
style sheet for ToDo list
-------------------------------------
 */


body {
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    line-height: 20px;
    background-color: rgb(250, 153, 153);
}

h1#biggerHone {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    color: black;
}

/* animation code here */

#box {
    margin: auto;
    min-height: 280px;
    max-height: 100%;
    width: 640px;
    background-color: white;
    padding: 0;
    padding-bottom: 20px;
}

main {
    width: 50%;
    min-height: 540px;
    max-height: 100%;
    background-color: #948d7f;
    padding-top: 6px;
    padding-bottom: 30px;
    margin: auto;
    border-radius: 7px;
}

#completedTasks {
    font-size: 20px;
    color: black;
    font-weight: 500;
}


/* div styling ---------------------------------------------------- */
.divFixedHeight {
    height: 64px;
}

div {
    text-align: center;
}

div#divCounter {
    height: 60px;
/*     background-color: rgb(29, 40, 49); */
}


/* list default to marked 'Done' ----------------------------------- */
li {
    list-style-type: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

span.listText {
    text-align: center;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.completed {
/*     display:inline-block;
    width: 70%; */
    text-decoration: line-through;
    color: rgb(110, 110, 110);
    font-size: 30px;
    cursor: pointer; 
}

#taskListFrame {
    min-height: 300px;
    max-height: 100%;
    background-color: rgb(29, 40, 49);
    padding-top: 0px;
    padding-bottom: 0px;
}

#theButton {  /* :hover */
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0px 14px 0px 14px;
    height: 44px;
}


/* various styling ------------------------------------------------- */
.infoTextColor {
    color: rgb(224, 84, 84);
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    height: 30px;
}

div#infoTextDiv {
    height: 20px;
    padding: 7px;
}


span.trashcan {
    display: inline-block;
    width: 40px;
    position: right;
    text-align: right;
}

.trashcan { 
    font-size: 30px; 
    cursor: pointer; 
    color: rgb(109, 109, 109);
}

.trashcan:hover { 
    color: rgb(36, 36, 36);
    transition: 0.3s;    
}

ul {
    padding: 0;
}

#textInput {
    /* border-color: skyblue; */
    border-radius: 4px;
    width: 280px;
    font-size: 30px;
    margin-right: 5px;
}