/* 
-------------------------------------
style sheet for ToDo list
-------------------------------------
 */


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(248, 226, 201);
    font-size: large;
    line-height: 20px;
    background-color: rgb(250, 153, 153);
}

h1#biggerHone {
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    color: black;
}


h1 {
    font-size: x-large;
}

#box {
    margin: auto;
    min-height: 280px;
    max-height: 100%;
    width: 660px;
    background-color: white;
    padding: 0;
    shadow: 20px;
}


#layoutSwitch {
    position: absolute;
    right: 27%;
    top: 22px;
    min-width: 50px;
    font-size:xx-small;
    background-color: rgb(26, 26, 26);
    color: snow;
    letter-spacing: 1px;
}

#layoutSwitch2 {
    position: absolute;
    right: 27%;
    top: 50px;
    min-width: 50px;
    font-size:xx-small;
    background-color:snow;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}

main {
    width: 50%;
    min-height: 540px;
    max-height: 100%;
    background-color: #948d7f;
    padding-top: 6px;
    padding-bottom: 30px;
    margin-left: 25%;
    border-radius: 7px;
}

#completedTasks {
    font-size: 18px;
    color: black;
}


/* div styling ---------------------------------------------------- */
.divFixedHeight {
    height: 64px;
}

div {
    text-align: center;
}

div#divCounter {
    height: 60px;
/*     background-color: rgb(29, 40, 49); */
}


/* list default to marked 'Done' ----------------------------------- */
li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

span.listText {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.completed {
    display:inline-block;
    width: 70%;
    text-decoration: line-through;
    color: rgb(206, 117, 136);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-style: italic;
}

#taskListFrame {
    min-height: 300px;
    max-height: 100%;
    background-color: rgb(29, 40, 49);
    padding-left: 64px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#theButton {  /* :hover */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
    padding: 3px 14px 7px 14px;
}


/* various styling ------------------------------------------------- */
.infoTextColor {
    color: rgb(241, 240, 133);
}

.inputPadd {
    margin-top: 6px;
}

span.trashcan {
    display:inline-block;
    width: 40px;
    position: right;
    text-align: right;
}

ul {
    padding: 0;
    margin: auto;
}

#textInput {
    /* border-color: skyblue; */
    border-radius: 4px;
    height: 40px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}